
  html {
    box-sizing: border-box;
  }
  
h2{
  box-shadow: 0 10px 20px rgba(71, 68, 68, 0.2);
}

 .title{
  color: rgb(100, 90, 90);
 }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 10px 20px rgba(71, 68, 68, 0.2);
    padding: 50px;
  }
  
  .about_section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding:  16px;
  }
  