

* {
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
    margin: 0;
    


  }
:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #080710;
}

#fixedone{
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    min-height: fit-content;
}

video {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    transition: 1s;
    z-index: 0;
  }

  nav {
    width: 100%;
    height: 3.3rem;
    background-color: #0000008f;
    backdrop-filter: blur(20px);
    box-shadow: 0px 3px 15px #858484;
    position: fixed;
    top: 0;
    z-index: 3;
  }
  

  nav input:hover {
    box-shadow: 1px 1px 8px #e9f8f9;
    transition: 0.6s;
  }
  
  #logo{
    margin-left: 1rem;
  }
  
  a {
    text-decoration: none;
    font-size: 15px;
    font-family: "Segoe UI", sans-serif;
    background-color: #181823;
  }
  
  nav a {
    float: right;
    padding: 4px 20px;
    background-color: #537fe7;
    text-shadow: 5px 2px 10px #ffffff;
    font-weight: 550;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    margin: 0.8rem;
    transition: 1s;
  
  }
  
  nav a:hover {
    background-color: #ffffff00;
    border-radius: 5px;
    transition: 0.6s;
  }
  
  #userName{
    background-color: #00000004;
  }

  .content {
    position: sticky;
    color: #f1f1f1;
    width: 100%;
    height: fit-content;
    font-weight: bold;
    text-shadow:3px 3px 7px  #dcdbe26e;
    backdrop-filter: blur(3px);
  }
  
  form{
    height: 720px;
    width: 600px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    /* transform: translate(-50%,-50%); */
    left: 25%;
margin-top: 60px;    
border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    margin-bottom: 10px;
}
form *{
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

/* form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
} */

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

form input{
    display: block;
    height: 45px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 6px;
    margin-top: 7px;
    font-size: 15px;
    font-weight: 300;
}

footer {
    z-index: 1;
    display: grid;
    grid-template-areas: "video" "footer";
    grid-area: bottom;
  background-color: #181823;
  color: #dcdbe2;
  text-align: center;
  padding: 40px;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 50px;
}

footer p a {
  background-color: #181823;
  color: #ffffff;
  margin: 0.1rem 2rem;
  padding: 10px;
  font-size: 1.1em;
  transition: 0.8s;
}

footer p a:hover {
  background-color: #000000;
  transition: 0.8s;
}


#AssignBTN{
  margin-top: 45px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
