:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #080710;
}
video {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    transition: 1s;
  }

  .content {
    position: sticky;
  background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 2px 10px 40px 30px;
    height: 50rem;
    margin-bottom: 15px;
    font-weight: bold;
    text-shadow:3px 3px 7px  #dcdbe26e;
    backdrop-filter: blur(3px);
  }
  
form {
  height: 600px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);

  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  /* padding: 50px 35px;
  margin-bottom: 20px; */
}
form * {
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 45px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 6px;
  margin-top: 7px;
  font-size: 15px;
  font-weight: 300;
}
::placeholder {
  color: #e5e5e57e;
  padding: 10px;
}

button {
  margin-top: 45px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #181823;
  color: #dcdbe2;
  text-align: center;
  padding: 40px;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  padding: 50px;
}

footer p a {
  background-color: #181823;
  color: #ffffff;
  margin: 0.1rem 2rem;
  padding: 10px;
  font-size: 1.1em;
  transition: 0.8s;
}

footer p a:hover {
  background-color: #000000;
  transition: 0.8s;
}
